//=============================================================================
//  Variables
//=============================================================================
//
//  $ Colors
//  $ Easings
//  $ Fonts
//  $ Media
//  $ Transitions
//  $ Z-Index
//
//=============================================================================
//  $ Colors
//=============================================================================

$black: #333;
    $light-black: #999;
$white: #fff;
    $dark-white: #f2f2f2;

//=============================================================================
//  $ Easings
//-----------------------------------------------------------------------------
//  Easings are from http://easings.net/
//=============================================================================

$easings: (
    out-expo: cubic-bezier(0.19, 1, 0.22, 1),
    out-quart: cubic-bezier(0.165, 0.84, 0.44, 1),
    out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94),

    in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22),
    in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53),
);

//=============================================================================
//  $ Fonts
//=============================================================================

$ff-base: 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
$ff-alpha: 'Georgia', #{$ff-base};

//=============================================================================
//  $ Media
//=============================================================================

$media-sizes: (
    'xs': 480, // Extra small
    'sm': 640, // Small
    'md': 800, // Medium
    'lg': 1024, // Large
    //'xl': 1280, // Extra large
    // 'ul': 1540, // Ultra large
    // 'full': 1920, // Full
);

$media-queries: ();

@each $base-size, $base-width in $media-sizes {
    // Create SIZE-up and SIZE-dn ranges.
    $media-queries: map-merge(
        $media-queries,
        (
            #{$base-size}-dn: '(max-width: #{px($base-width)})',
            #{$base-size}-up: '(min-width: #{px($base-width + 1)})'
        )
    );

    // Create SIZE1-SIZE2 ranges, where SIZE1 is smaller than SIZE2.
    @each $other-size, $other-width in $media-sizes {
        @if $base-size != $other-size {
            @if $base-width < $other-width {
                $media-queries: map-merge(
                    $media-queries,
                    (
                        #{$base-size}-#{$other-size}: '(min-width: #{px($base-width + 1)}) and (max-width: #{px($other-width)})'
                    )
                );
            }
        }
    }
}

// Uncomment the line below to see exactly what ranges are available.
//@debug map-keys($media-queries);

//=============================================================================
//  $ Transitions
//=============================================================================

$transition-duration: 0.4s;
$transition-easing: ease(out-expo);

//=============================================================================
//  $ Z-Index
//=============================================================================

$zi-base: 1;