/*-----------------------------------------------------------------------------
    $ Site Header
-----------------------------------------------------------------------------*/

.site-header {
    padding-top: 15px;
    padding-bottom: 15px;
    z-index: $zi-header;
    background-color: $black;
    color: $white;
}
