/*-----------------------------------------------------------------------------
    $ Utilities
-------------------------------------------------------------------------------
    Utility classes are single-purpose styles, used like how you would apply
    an inline style, except with lower specificity (so harder to override other
    styles), but better flexibility (comes with responsive variations).

    Given the following configurations:

        $utilities-media-queries: (
            'xs':    $bp-xs,
            'sm-dn': $bp-sm-dn,
        )l

        $utilities: (
            'as': (
                (
                    appendMedia: true,
                    values: (
                        'c': (align-self: center),
                        'fs': (align-self: flex-start),
                        'fe': (align-self: flex-end),
                    ),
                ),
            ),
        );

    This will generate the following utility classes:

        .as-c  { align-self: center;     }
        .as-fs { align-self: flex-start; }
        .as-fe { align-self: flex-end;   }

        @media ($bp-xs) { // <-- Based on the default media variable value, this should result in (min-width: 480px)
            .as-xs-c  { align-self: center;     }
            .as-xs-fs { align-self: flex-start; }
            .as-xs-fe { align-self: flex-end;   }
        }

        @media ($bp-sm-dn) { // <-- Based on the default media variable value, this should result in (max-width: 639.98px)
            .as-sm-dn-c  { align-self: center;     }
            .as-sm-dn-fs { align-self: flex-start; }
            .as-sm-dn-fe { align-self: flex-end;   }
        }

    Feel free to modify the `$utilities-media-queries` and `$utilities` map
    as required.

-----------------------------------------------------------------------------*/

.ha {
    @include hidden-accessible;
}

// .cf {
//     @include clearfix;
// }

//----//

$utilities-media-queries: (
    // 'xs': $bp-xs,
    // 'sm': $bp-sm,
    // 'md': $bp-md,
    // 'lg': $bp-lg,
    // 'xl': $bp-xl,
    // 'ul': $bp-ul,

    // 'xs-dn': $bp-xs-dn,
    // 'sm-dn': $bp-sm-dn,
    // 'md-dn': $bp-md-dn,
    // 'lg-dn': $bp-lg-dn,
    // 'xl-dn': $bp-xl-dn,
    // 'ul-dn': $bp-ul-dn,

    // 'xs-sm': $bp-xs-sm,
    // 'xs-md': $bp-xs-md,
    // 'xs-lg': $bp-xs-lg,
    // 'xs-xl': $bp-xs-xl,
    // 'xs-ul': $bp-xs-ul,

    // 'sm-md': $bp-sm-md,
    // 'sm-lg': $bp-sm-lg,
    // 'sm-xl': $bp-sm-xl,
    // 'sm-ul': $bp-sm-ul,

    // 'md-lg': $bp-md-lg,
    // 'md-xl': $bp-md-xl,
    // 'md-ul': $bp-md-ul,

    // 'lg-xl': $bp-lg-xl,
    // 'lg-ul': $bp-lg-ul,

    // 'xl-ul': $bp-xl-ul,

    // 'print': 'print',
);

$utilities: (
    'as': (
        (
            appendMedia: false,
            values: (
                // 'c': (align-self: center),
                // 'fs': (align-self: flex-start),
                // 'fe': (align-self: flex-end),
            ),
        ),
    ),

    'ai': (
        (
            appendMedia: false,
            values: (
                // 'c': (align-items: center),
                // 'fs': (align-items: flex-start),
                // 'fe': (align-items: flex-end),
            ),
        ),
    ),

    'bdc': (
        (
            appendMedia: false,
            values: (
                // 'red': (border-color: #f00),
            ),
        ),
    ),

    'bgc': (
        (
            appendMedia: false,
            values: (
                // 'green': (background-color: #0f0),
            ),
        ),
    ),

    'b': (
        (
            appendMedia: false,
            values: (
                // '0': (bottom: 0),
                // '-1': (bottom: -15px),
                // '1': (bottom: 15px),
            ),
        ),
    ),

    'c': (
        (
            appendMedia: false,
            values: (
                // 'blue': (color: #00f),
            ),
        ),
        (
            appendMedia: false,
            values: (
                // 'a': (cursor: auto),
                // 'd': (cursor: default),
                // 'p': (cursor: pointer),
            ),
        ),
    ),

    'cl': (
        (
            appendMedia: false,
            values: (
                // 'b': (clear: both),
                // 'l': (clear: left),
                // 'r': (clear: right),
            ),
        ),
    ),

    'd': (
        (
            appendMedia: false,
            values: (
                // 'b': (display: block),
                // 'f': (display: flex),
                // 'ib': (display: inline-block),
                // 'i': (display: inline),
                // 'f': (display: flex),
                // 'n': (display: none),
                // 't': (display: table),
                // 'tr': (display: table-row),
                // 'tc': (display: table-cell),
            ),
        ),
    ),

    'f': (
        (
            appendMedia: false,
            values: (
                // 'l': (float: left),
                // 'r': (float: right),
                // 'n': (float: none),
            ),
        ),
    ),

    'ff': (
        (
            appendMedia: false,
            values: (
                // 'base': (font-family: $ff-base),
                // 'alpha': (font-family: $ff-alpha),
            ),
        ),
    ),

    'fs': (
        (
            appendMedia: false,
            values: (
                // '1': (font-size: 14px),
                // '2': (font-size: 16px),
                // '1em': (font-size: 1em),
                // '1\\.25em': (font-size: 1.25em),
            ),
        ),
        (
            appendMedia: false,
            values: (
                // 'i': (font-style: italic),
                // 'n': (font-style: normal),
            ),
        ),
    ),

    'fw': (
        (
            appendMedia: false,
            values: (
                // 'thin': (font-weight: $fw-thin),
                // 'light': (font-weight: $fw-light),
                // 'regular': (font-weight: $fw-regular),
                // 'medium': (font-weight: $fw-medium),
                // 'semibold': (font-weight: $fw-semibold),
                // 'bold': (font-weight: $fw-bold),
                // 'extra-bold': (font-weight: $fw-extra-bold),
                // 'black': (font-weight: $fw-black),
            ),
        ),
    ),

    'l': (
        (
            appendMedia: false,
            values: (
                // '0': (left: 0),
                // '-1': (left: -15px),
                // '1': (left: 15px),
            ),
        ),
    ),

    'm': (
        (
            appendMedia: false,
            values: (
                // 'a': (margin: auto),
                // '-1': (margin: -15px),
                // '1': (margin: 15px),
            ),
        ),
    ),

    'mb': (
        (
            appendMedia: false,
            values: (
                // 'a': (margin-bottom: auto),
                // '-1': (margin-bottom: -15px),
                // '1': (margin-bottom: 15px),
            ),
        ),
    ),

    'ml': (
        (
            appendMedia: false,
            values: (
                // 'a': (margin-left: auto),
                // '-1': (margin-left: -15px),
                // '1': (margin-left: 15px),
            ),
        ),
    ),

    'mr': (
        (
            appendMedia: false,
            values: (
                // 'a': (margin-right: auto),
                // '-1': (margin-right: -15px),
                // '1': (margin-right: 15px),
            ),
        ),
    ),

    'mt': (
        (
            appendMedia: false,
            values: (
                // 'a': (margin-top: auto),
                // '-1': (margin-top: -15px),
                // '1': (margin-top: 15px),
            ),
        ),
    ),

    'mx': (
        (
            appendMedia: false,
            values: (
                // 'a': (
                //     margin-left: auto,
                //     margin-right: auto,
                // ),
                // '-1': (
                //     margin-left: -15px,
                //     margin-right: -15px,
                // ),
                // '1': (
                //     margin-left: 15px,
                //     margin-right: 15px,
                // ),
            ),
        ),
    ),

    'my': (
        (
            appendMedia: false,
            values: (
                // 'a': (
                //     margin-top: auto,
                //     margin-bottom: auto,
                // ),
                // '-1': (
                //     margin-top: -15px,
                //     margin-bottom: -15px,
                // ),
                // '1': (
                //     margin-top: 15px,
                //     margin-bottom: 15px,
                // ),
            ),
        ),
    ),

    'o': (
        (
            appendMedia: false,
            values: (
                // 'a': (
                //     overflow: auto,
                //     -webkit-overflow-scrolling: touch,
                // ),
                // 'h': (overflow: hidden),
                // 'v': (overflow: visible),
                // 's': (
                //     overflow: scroll,
                //     -webkit-overflow-scrolling: touch,
                // ),
            ),
        ),
    ),

    'p': (
        (
            appendMedia: false,
            values: (
                // '0': (padding: 0),
                // '1': (padding: 15px),
            ),
        ),
        (
            appendMedia: false,
            values: (
                // 'a': (position: absolute),
                // 'r': (position: relative),
                // 's': (position: static),
            ),
        ),
    ),

    'pb': (
        (
            appendMedia: false,
            values: (
                // '0': (padding-bottom: 0),
                // '1': (padding-bottom: 15px),
            ),
        ),
    ),

    'pl': (
        (
            appendMedia: false,
            values: (
                // '0': (padding-left: 0),
                // '1': (padding-left: 15px),
            ),
        ),
    ),

    'pr': (
        (
            appendMedia: false,
            values: (
                // '0': (padding-right: 0),
                // '1': (padding-right: 15px),
            ),
        ),
    ),

    'pt': (
        (
            appendMedia: false,
            values: (
                // '0': (padding-top: 0),
                // '1': (padding-top: 15px),
            ),
        ),
    ),

    'px': (
        (
            appendMedia: false,
            values: (
                // '0': (
                //     padding-left: 0,
                //     padding-right: 0,
                // ),
                // '1': (
                //     padding-left: 15px,
                //     padding-right: 15px,
                // ),
            ),
        ),
    ),

    'py': (
        (
            appendMedia: false,
            values: (
                // '0': (
                //     padding-top: 0,
                //     padding-bottom: 0,
                // ),
                // '1': (
                //     padding-top: 15px,
                //     padding-bottom: 15px,
                // ),
            ),
        ),
    ),

    'r': (
        (
            appendMedia: false,
            values: (
                // '0': (right: 0),
                // '-1': (right: -15px),
                // '1': (right: 15px),
            ),
        ),
    ),

    't': (
        (
            appendMedia: false,
            values: (
                // '0': (top: 0),
                // '-1': (top: -15px),
                // '1': (top: 15px),
            ),
        ),
    ),

    'ta': (
        (
            appendMedia: false,
            values: (
                // 'c': (text-align: center),
                // 'l': (text-align: left),
                // 'r': (text-align: right),
            ),
        ),
    ),

    'td': (
        (
            appendMedia: false,
            values: (
                // 'n': (text-decoration: none),
                // 'lt': (text-decoration: line-through),
                // 'u': (text-decoration: underline),
            ),
        ),
    ),

    'tt': (
        (
            appendMedia: false,
            values: (
                // 'c': (text-transform: capitalize),
                // 'n': (text-transform: none),
                // 'l': (text-transform: lowercase),
                // 'u': (text-transform: uppercase),
            ),
        ),
    ),

    'va': (
        (
            appendMedia: false,
            values: (
                // 'b': (vertical-align: bottom),
                // 'm': (vertical-align: middle),
                // 't': (vertical-align: top),
            ),
        ),
    ),

    'w': (
        (
            appendMedia: false,
            values: (
                // 'a': (width: auto),
                // '1of12': (width: (100% / 12 * 1)),
                // '2of12': (width: (100% / 12 * 2)),
                // '3of12': (width: (100% / 12 * 3)),
                // '4of12': (width: (100% / 12 * 4)),
                // '5of12': (width: (100% / 12 * 5)),
                // '6of12': (width: (100% / 12 * 6)),
                // '7of12': (width: (100% / 12 * 7)),
                // '8of12': (width: (100% / 12 * 8)),
                // '9of12': (width: (100% / 12 * 9)),
                // '10of12': (width: (100% / 12 * 10)),
                // '11of12': (width: (100% / 12 * 11)),
                // '12of12': (width: (100% / 12 * 12)),
            ),
        ),
    ),

    'wb': (
        (
            appendMedia: false,
            values: (
                // 'ba': (word-break: break-all),
                // 'bw': (word-break: break-word),
                // 'n': (word-break: normal),
            ),
        ),
    ),

    'ws': (
        (
            appendMedia: false,
            values: (
                // 'nm': (white-space: normal),
                // 'nw': (white-space: nowrap),
            ),
        ),
    ),

    'zi': (
        (
            appendMedia: false,
            values: (
                // '1': (z-index: 1),
                // '2': (z-index: 2),
            ),
        ),
    ),
);

@mixin generate-utilities(
    $props: $utilities,
    $media: false
) {
    $query: '';

    @if $media != false {
        $query: '-#{$media}';
    }

    @each $keyName, $keySets in $utilities {
        @each $keySet in $keySets {
            $appendMedia: map-get($keySet, appendMedia);
            $values: map-get($keySet, values);

            @if $media == false
            or $appendMedia != false {
                @each $valueKey, $valueSet in $values {
                    @each $propName, $propValue in $valueSet {
                        .#{$keyName}#{$query}-#{$valueKey} { #{$propName}: #{$propValue}; }
                    }
                }
            }
        }
    }
}

@include generate-utilities;

@each $queryKey, $queryCondition in $utilities-media-queries {
    @media ($queryCondition) {
        @include generate-utilities($media: $queryKey);
    }
}
